:root {
    --color-cyan-1: #224373;
    --color-purple-1: #5d3251;
    --color-gold-1: #c67702;
    --color-blue-50: #3f74ff;

    --shadow-4: rgba(0, 0, 0, 0.04);
    --shadow-8: rgba(0, 0, 0, 0.08);
    --shadow-10: rgba(0, 0, 0, 0.1);
    --shadow-15: rgba(0, 0, 0, 0.15);
    --shadow-16: rgba(0, 0, 0, 0.16);
    --shadow-35: rgba(0, 0, 0, 0.35);
    --shadow-50: rgba(0, 0, 0, 0.5);
    --shadow-elevated: rgba(34, 42, 78, 0.19);

    --gradient-cyan-1: linear-gradient(97.4deg, #204171 0%, #5860a6 100%);
    --gradient-cyan-2: linear-gradient(97.4deg, #8a92ce 0%, #c9ceef 100%);
    --gradient-cyan--hover: linear-gradient(97.4deg, #295492 0%, #6b75ca 100%);
    --gradient-gold-1: linear-gradient(97.4deg, #c67702 0%, #e0a12a 100%);
    --gradient-gold-2: linear-gradient(97.4deg, #deb475 0%, #eddfc5 100%);
    --gradient-purple-1: linear-gradient(97.4deg, #824271 0%, #887688 100%);
    --gradient-purple-2: linear-gradient(97.4deg, #ab8ab2 0%, #ddd4dd 100%);

    --elevation-01: 0px 0px 1px var(--shadow-35), 0px 1px 2px var(--shadow-10);
    --elevation-01--focused: 0px 0px 1px var(--shadow-35), 0px 1px 2px var(--shadow-10), 0px 0px 0px 1px #2360ff;
    --elevation-05: 0px 0px 1px var(--shadow-35), 0px 4px 10px var(--shadow-10);
    --elevation-10: 0 0 4px var(--shadow-16), 0 8px 8px var(--shadow-8);
    --elevation-15: 0px 0px 1px var(--shadow-35), 0px 8px 16px var(--shadow-4), 0px 16px 16px var(--shadow-8);
    --input-focus: 0px 0px 0px 2px rgba(94, 121, 197, 0.15);

    --user-card-height: 530px;
}
